<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <div th:fragment="results">
        <div th:if="${jobs}">
            <p th:text="${jobs.size()}+' '+'Results(s)'"></p>
        </div>
        <table class="job-listing" th:each="job :${jobs}">
            <tr th:each="mapEntry : ${job}">
                <td th:text="${mapEntry.key}"></td>
                <td th:text="${mapEntry.value}"></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>