<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <form >
        <h2 title="${title}">Default Title</h2>
        <table>
            <tr th:each="searchByColumns : ${searchByColumn}" th:value="${searchByColumns.id}" >
            <tr th:each="mapEntry : ${searchByColumns}">
                <td th:text="${mapEntry.key}"></td>
                <td th:text="${mapEntry.value}"></td>
            </tr>
            </tr>
        </table>
    </form>
</div>

</body>
</html>